.background{
    height: 100vh;
    background: linear-gradient(180deg,lightgrey 40%,rgb(200, 142, 247) 100%);
}
.introStyle{
    text-align: center;
    height: 100px;
    background: linear-gradient(0deg,lightgrey 40%,rgb(210, 170, 243) 150%);
    font-size: 100px;
}
.introStyle2{
    text-align: center;
    height: 30px;
    background-color:lightgrey;
}
.divStyle{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(130, 138, 138);
    text-align: center;
    width: 30%;
    border: 2px solid black;
}
.divStyle:after {
    content: "";
    display: block;
    padding-top: 100%;
  }